# local package
-e .

# external requirements

beautifulsoup4
clean-text
emoji
fr-core-news-sm
jupyter
jupyterlab
lxml
matplotlib
nltk
notebook
numpy
pandas
Pillow
plotly
requests
scikit-learn
scikit-learn-intelex
scipy
spacy
spacy-alignments
spacy-lefff
spacy-legacy
spacy-loggers
spacy-transformers
streamlit
torch
transformers

