# local package
-e .

# external requirements

beautifulsoup4
clean-text
emoji
jupyter
jupyterlab
lxml
matplotlib
nltk
notebook
numpy
pandas
Pillow
plotly
requests
scikit-learn
scikit-learn-intelex
scipy
streamlit
torch
transformers
spacy>=3.0.0,<4.0.0
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.4.0/fr_core_news_sm-3.4.0.tar.gz#egg=fr_core_news_sm